{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<script src="{% static 'js/darkmode.js' %}"></script>

{% block title %}Quién Soy{% endblock %}

{% block content %}
<section class="about-section">
    <div class="container">
        <h1>Quién Soy</h1>
        
        <div class="about-content">
            <div class="about-image">
                <img src="{% static 'images/profile.jpeg' %}" alt="Mi foto de perfil">
            </div>
            <div class="about-text">
                <h2>Hola, soy Alejandro Cortés</h2>
                <h3>Ingeniero Civil Industrial</h3>
                <p class="intro">
                    Soy un profesional apasionado por la tecnología y la innovación. 
                    Con 7 años de experiencia en el rubro de operaciones y seguros. Me especializo en 
                    la gestión de proyectos informáticos y la optimización de procesos de negocio.
                </p>
                
                <div class="about-details">
                    <div class="detail-item">
                        <h4><i class="fas fa-graduation-cap"></i> Educación</h4>
                        <ul>
                            <li><strong>Ingeniería Civil Industrial</strong> - Universidad de Valparaíso</li>
                            <li><strong>Diplomado en ingeniería de software</strong> - Universidad de Chile</li>
                        </ul>
                    </div>
                    
                    <div class="detail-item">
                        <h4><i class="fas fa-trophy"></i> Logros</h4>
                        <ul>
                            <li>Automatización de liquidación de pagos a corredores de seguros con RPA en VidaCámara</li>
                            <li>Reducción en un 23% en costos de operacion en Gardencorp</li>
                            <li>Ascenso a lider operacional en Gardencorp</li>
                        </ul>
                    </div>
                </div>
                
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/acortes28/" class="social-link" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/acortes28" class="social-link" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="{% static 'files/cv_acortes.pdf' %}" class="social-link" target="_blank"><i class="fas fa-file-pdf"></i> Descargar CV</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}